{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "chrome": "60",
          "ie": "11"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      },
      "ant"
    ],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": ""
      },
      "lodash"
    ],
    [
      "react-css-modules",
      {
        "context": "./src",
        "generateScopedName": "[path]___[name]__[local]",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          },
          ".less": {
            "syntax": "postcss-less"
          }
        }
      }
    ]
  ]
}